@import 'tailwindcss';

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* .text-h1 {
  @apply font-title;
}

a {
  @apply rounded-sm;
}

a {
  @apply rounded-md;
} */

a,
button {
  @apply relative focus:outline-hidden;
}

a:focus-visible::before,
button:focus-visible::before {
  content: '';
  @apply absolute -inset-1 border-2 border-white;
}

a:focus-visible::before {
  @apply rounded-sm;
}

button:focus-visible::before {
  @apply rounded-lg;
}

/* chrome autofill bg color override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #000 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

/* remove browser input default styles */
input {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
